<section>
  <div>
    <button (click)="runComponentBenchmark(BenchmarkScenario.EventEmitterComponents1Binding)">Benchmark {{ config.COMPONENTS }} components with EventEmitter with 1 binding</button>
  </div>
  <div>
    <button (click)="runComponentBenchmark(BenchmarkScenario.EventEmitterComponents5Bindings)">Benchmark {{ config.COMPONENTS }} components with EventEmitter with 5 bindings</button>
  </div>
  <div>
    <button (click)="runComponentBenchmark(BenchmarkScenario.EventEmitterEmissions)">Benchmark {{ config.EMISSIONS }} emissions with EventEmitter</button>
  </div>

  <div>
    <button (click)="runComponentBenchmark(BenchmarkScenario.LightEventEmitterComponents1Binding)">Benchmark {{ config.COMPONENTS }} components with LightEventEmitter with 1 binding</button>
  </div>
  <div>
    <button (click)="runComponentBenchmark(BenchmarkScenario.LightEventEmitterComponents5Bindings)">Benchmark {{ config.COMPONENTS }} components with LightEventEmitter with 5 bindings</button>
  </div>
  <div>
    <button (click)="runComponentBenchmark(BenchmarkScenario.LightEventEmitterEmissions)">Benchmark {{ config.EMISSIONS }} emissions with LightEventEmitter</button>
  </div>
</section>

<section class="result">
  Benchmark duration: <strong>{{ duration | date: 's.SSS' }}s</strong>
</section>

<section *ngIf="currentScenario === BenchmarkScenario.EventEmitterComponents1Binding">
  <app-mock-component1
    *ngFor="let i of iterationsArray"
    [index]="i"
    (out1)="componentCreated()">
  </app-mock-component1>
</section>

<section *ngIf="currentScenario === BenchmarkScenario.EventEmitterComponents5Bindings">
  <app-mock-component1
    *ngFor="let i of iterationsArray"
    [index]="i"
    (out1)="componentCreated()"
    (out2)="noopHandler()"
    (out3)="noopHandler()"
    (out4)="noopHandler()"
    (out5)="noopHandler()">
  </app-mock-component1>
</section>

<section [class.hidden]="currentScenario !== BenchmarkScenario.EventEmitterEmissions">
  <app-mock-component2 (out1)="componentEmit($event)"></app-mock-component2>
</section>

<section *ngIf="currentScenario === BenchmarkScenario.LightEventEmitterComponents1Binding">
  <app-mock-component3
      *ngFor="let i of iterationsArray"
      [index]="i"
      (out1)="componentCreated()">
  </app-mock-component3>
</section>

<section *ngIf="currentScenario === BenchmarkScenario.LightEventEmitterComponents5Bindings">
  <app-mock-component3
      *ngFor="let i of iterationsArray"
      [index]="i"
      (out1)="componentCreated()"
      (out2)="noopHandler()"
      (out3)="noopHandler()"
      (out4)="noopHandler()"
      (out5)="noopHandler()">
  </app-mock-component3>
</section>

<section [class.hidden]="currentScenario !== BenchmarkScenario.LightEventEmitterEmissions">
  <app-mock-component4 (out1)="componentEmit($event)"></app-mock-component4>
</section>
