<section>
  <div>
    <button (click)="run()">Run benchmark ({{ config.RUNS }} iterations)</button>
  </div>
</section>

<table *ngIf="results" border="1">
  <thead>
    <tr>
      <th></th>
      <th>{{ config.COMPONENTS }} Component with one Binding</th>
      <th>{{ config.COMPONENTS }} Component with 5 Bindings</th>
      <th>{{ config.EMISSIONS }} emissions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>EventEmitter</strong></td>
      <td>{{ calculateAverage(BenchmarkScenario.EventEmitterComponents1Binding) | date: 's.SSS' }} s</td>
      <td>{{ calculateAverage(BenchmarkScenario.EventEmitterComponents5Bindings) | date: 's.SSS' }} s</td>
      <td>{{ calculateAverage(BenchmarkScenario.EventEmitterEmissions) | date: 's.SSS' }} s</td>
    </tr>
    <tr>
      <td><strong>LightEventEmitter</strong></td>
      <td>{{ calculateAverage(BenchmarkScenario.LightEventEmitterComponents1Binding) | date: 's.SSS' }} s</td>
      <td>{{ calculateAverage(BenchmarkScenario.LightEventEmitterComponents5Bindings) | date: 's.SSS' }} s</td>
      <td>{{ calculateAverage(BenchmarkScenario.LightEventEmitterEmissions) | date: 's.SSS' }} s</td>
    </tr>
  </tbody>
</table>

<section *ngIf="currentScenario === BenchmarkScenario.EventEmitterComponents1Binding">
  <app-mock-component1
    *ngFor="let i of iterationsArray"
    [index]="i"
    (out1)="componentCreated()">
  </app-mock-component1>
</section>

<section *ngIf="currentScenario === BenchmarkScenario.EventEmitterComponents5Bindings">
  <app-mock-component1
    *ngFor="let i of iterationsArray"
    [index]="i"
    (out1)="componentCreated()"
    (out2)="noopHandler()"
    (out3)="noopHandler()"
    (out4)="noopHandler()"
    (out5)="noopHandler()">
  </app-mock-component1>
</section>

<section [class.hidden]="currentScenario !== BenchmarkScenario.EventEmitterEmissions">
  <app-mock-component2 (out1)="componentEmit($event)"></app-mock-component2>
</section>

<section *ngIf="currentScenario === BenchmarkScenario.LightEventEmitterComponents1Binding">
  <app-mock-component3
      *ngFor="let i of iterationsArray"
      [index]="i"
      (out1)="componentCreated()">
  </app-mock-component3>
</section>

<section *ngIf="currentScenario === BenchmarkScenario.LightEventEmitterComponents5Bindings">
  <app-mock-component3
      *ngFor="let i of iterationsArray"
      [index]="i"
      (out1)="componentCreated()"
      (out2)="noopHandler()"
      (out3)="noopHandler()"
      (out4)="noopHandler()"
      (out5)="noopHandler()">
  </app-mock-component3>
</section>

<section [class.hidden]="currentScenario !== BenchmarkScenario.LightEventEmitterEmissions">
  <app-mock-component4 (out1)="componentEmit($event)"></app-mock-component4>
</section>
